<!DOCTYPE html>
<html>
  <body>
    <center>
      <h1 style="color: red; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">OTS UYGULAMASI - Ana sayfa</h1>
      <p style="font-family:'Courier New', Courier, monospace ;">Hoş geldiniz.</p>
      <a href="ogrenci/">
        <img height="200" src="https://cdn-icons-png.flaticon.com/512/354/354637.png" alt="">

      </a>
      <br>
      <a href="ogrenci/">Öğrenci uygulaması</a>
      <br>
      <a href="yonetim/">
        <img height="200" src="https://cdn-icons-png.flaticon.com/512/2206/2206248.png" alt="">
      </a>
      <br>
      <br>
      <a href="yonetim/">Yönetim uygulaması</a>
    </center>
  </body>
</html>
